# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IDEs
.idea/
.vscode/
*.iml

# Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# H2
*.mv.db

# JetBrains
out/

# Others
coverage/
